.table {
  width: 100%;
}

.table_cell {
  height: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 1px solid var(--color-gray-3-border-light);
  border-right: none;
  color: var(--color-natural-2);
}

.table .table_cell:last-of-type {
  border: 1px solid var(--color-gray-3-border-light);
}

.table_column {
  height: 48px;
  text-align: center;
  border: 1px solid var(--color-gray-3-border-light);
  border-right: none;
  background: var(--color-natural-1);
  color: var(--color-natural-2);
  font-weight: 700;
}

.table .table_column:last-of-type {
  border: 1px solid var(--color-gray-3-border-light);
}
