.slot {
  display: flex;
}

.slot_with_vertical {
  flex-direction: column;
}

.slot_with_horizontal {
  flex-direction: row;
}

.slot_with_gap_none {
  gap: 0;
}

.slot_with_gap_xs {
  gap: 4px;
}

.slot_with_gap_small {
  gap: 8px;
}

.slot_with_gap_middle {
  gap: 12px;
}

.slot_with_gap_medium {
  gap: 16px;
}

.slot_with_gap_large {
  gap: 24px;
}

.slot_with_gap_xl {
  gap: 32px;
}

.slot_with_gap_2xl {
  gap: 40px;
}

.slot_with_gap_3xl {
  gap: 48px;
}

.slot_with_align_start {
  align-items: flex-start;
}

.slot_with_align_center {
  align-items: center;
}

.slot_with_align_end {
  align-items: flex-end;
}

.slot_with_justify_start {
  justify-content: flex-start;
}

.slot_with_justify_center {
  justify-content: center;
}

.slot_with_justify_end {
  justify-content: flex-end;
}

.slot_with_justify_between {
  justify-content: space-between;
}

.slot_with_justify_around {
  justify-content: space-around;
}

.slot_with_wrap {
  flex-wrap: wrap;
}

.slot_with_full_width {
  width: 100%;
}

.slot_with_full_height {
  height: 100%;
}

.slot_with_overflow {
  overflow: auto;
}
