.tabs {
  display: flex;
}

.tab {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gray-3-border-light);
  border-right: none;
  cursor: pointer;
}

.tabs .tab:last-child {
  border-right: 1px solid var(--color-gray-3-border-light);
}

.tab__text {
  color: var(--color-natural-2);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  transition: .3s;
}

.tab__text_with_selected {
  color: var(--color-primary-2); 
}

.tab__text:hover {
  color: var(--color-primary-2);
}
