.badge {
  width: 332px;
  padding: 12px;
  border: 1px solid var(--color-gray-5-text-light);
  background-color: var(--color-primary-2);
  font-family: var(--font-NotoSansJP);
  color: var(--color-white-1);
  font-size: 16px;
  font-weight: 700;
}
